        <!-- START FOOTER -->
        <footer class="first-footer rec-pro">
         
            <div class="second-footer rec-pro">
                <div class="container-fluid sd-f">
                    <p>2022 © Copyright - ConsommiTounsi</p>
                    <ul class="netsocials">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        <!-- END FOOTER -->


<!-- START PRELOADER -->
<!-- <div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div> -->
<!-- END PRELOADER -->