<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Modifier votre Rayon</h4>
                        <!--<p class="card-category"></p>-->
                    </div>
                  
                  
                    <!--  <div class="form-group">
                    
                      <div class="row" class="col-md-5">
                        <label>Type Rayon</label>
                        <input name="typeRayons"  type="text"  [(ngModel)]="rayon.typeRayons" required class="form-control">
                      </div>
                      
                    </div>
                    <div class="row" class="col-md-5">
                   <div class="form-group">
                      <label>Categorie Produit</label>
                      <input  name="categorieProduit" [(ngModel)]="rayon.categorieProduit" type="number"  required class="form-control">    
                  </div>
                  </div>
                 
                  <div mat-dialog-action [align]="'end'">
                    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
                    <button style="margin-left: 8px;" mat-raised-button color="primary" mat-dialog-close>Save</button>
                  </div>-->

                </div>
            </div>
        </div>
    </div>
  </div>
  