<div class="col-lg-3 col-md-12 col-xs-12 pl-0 pr-0 user-dash">
    <div class="user-profile-box mb-0">
        <div class="sidebar-header"></div>
        <div class="header clearfix">
            <img src="assets/front-assets/images/testimonials/ts-1.jpg" alt="avatar" class="img-fluid profile-img">
        </div>
        <div class="active-user">
            <h2>{{currentUser.username}}</h2>
        </div>
        <div class="detail clearfix">
            <ul class="mb-0">
                <li> 
                    <a routerLink="users">
                        <i class="fa fa-map-marker"></i> Users
                    </a>
                </li>
                <li>
                    <a routerLink="/chat">
                        <i class="fa fa-list" aria-hidden="true"></i>Chat
                    </a>
                </li>
                <li>
                    <a routerLink="/update">
                        <i class="fa fa-list" aria-hidden="true"></i>Update Password 
                    </a>
                </li>
                <li>
                    <a routerLink="/home">
                        <i class="fas fa-sign-out-alt"></i>Log Out
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>